<div class="container authentification">
  <div class="row">
      <div class="col-md-3 authentification-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
          <h3>Welcome</h3>
          <p>You are 30 seconds away from earning your own money!</p>
          <a [routerLink]="['/authentification']" class="btn btn-primary">authentification</a>
      </div>
      <div class="col-md-9 authentification-right">

          <div class="tab-content" id="myTabContent">
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email"
                            class="form-control"
                            id="email"
                            ngModel
                            name="email"
                            #email="ngModel"
                            required
                            placeholder="Entrer votre adresse email">
                    </div>
                    <div class="form-group">
                      <label for="password">Password:</label>
                      <input type="password"
                            class="form-control"
                            id="password"
                            ngModel
                            name="password"
                            #password="ngModel"
                            required
                            placeholder="Entrer votre mot de passe">
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                    </div>
                    <span class="spacer"></span>
                    <div class="form-group form-check">
                      <a [routerLink]="['/reset-password']" > Mot de passe oublié</a>
                    </div>
                    <button type="submit"
                          class="btn btn-default"
                            [disabled]="f.invalid">Connexion</button>
                  </form>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
          </div>
      </div>
  </div>

</div>
