<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
              
                <div class="login-snip">
                  <label for="tab-1" class="tab">Login</label>

                    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                      <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email"
                              class="form-control"
                              id="email"
                              ngModel
                              name="email"
                              #email="ngModel"
                              required
                              placeholder="Entrer votre adresse email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password"
                              class="form-control"
                              id="password"
                              ngModel
                              name="password"
                              #password="ngModel"
                              required
                              placeholder="Entrer votre mot de passe">
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                      </div>
                      <span class="spacer"></span>
                      <div class="form-group form-check">
                        <a [routerLink]="['/reset-password']" > Mot de passe oublié</a>
                      </div>
                      <button type="submit"
                            class="btn btn-default"
                              [disabled]="f.invalid">Connexion</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
