<div class="container authentification">
  <div class="row">
      <div class="col-md-3 authentification-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
          <h3>Welcome</h3>
          <p>You are 30 seconds away from earning your own money!</p>
          <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
      </div>
      <div class="col-md-9 authentification-right">
        <mat-tab-group
            mat-align-tabs="end"
            animationDuration="2000ms"
            [ngClass]="'first second'"
        >
          <div class="tab-content" id="myTabContent">
            <mat-tab >

            <ng-template mat-tab-label appearance="red" >
              <span class="material-icons-outlined">
                perm_identity
                </span>
              Particular
            </ng-template>

            <div class="tab-pane fade show active example-small-box mat-elevation-z4" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="authentification-heading">S'enregistrer en tant que particulier</h3>
              <div class="row authentification-form">
                <form style="display: contents;" #f="ngForm" (ngSubmit)="onParticularSubmit(f)">
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text"
                            class="form-control"
                            placeholder="Entrer votre prénom "
                            id="userName"
                            ngModel
                            name="userName"
                            #firstName=ngModel
                            required
                              />

                         </div>

                      <div class="form-group">
                          <input type="password"
                                class="form-control"
                                placeholder="Entrer votre mot de passe"
                                id="password"
                                ngModel
                                name="password"
                                #password=ngModel
                                required />
                      </div>
                      <div class="form-group">
                          <input type="password"
                              class="form-control"
                              placeholder="Confirmer votre mot de passe"
                              id="confirmPassword"
                                ngModel
                                name="confirmPassword"
                                #confirmPassword=ngModel
                                required />
                      </div>
                      <div class="form-group">
                          <div class="maxl">
                              <label class="radio inline">
                                  <input type="radio"
                                      name="gender"
                                      value="male"
                                      checked
                                      id="male"
                                      ngModel
                                      name="male"
                                      #male=ngModel
                                      >
                                  <span> Male </span>
                              </label>
                              <label class="radio inline">
                                  <input type="radio"
                                        name="gender"
                                        value="female"
                                        id="female"
                                        ngModel
                                        name="female"
                                        #female=ngModel
                                         >
                                  <span>Female </span>
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="email"
                                class="form-control"
                                placeholder="Entrer votre email"
                                ngModel
                                id="email"
                                name="email"
                                #email=ngModel
                                required/>
                      </div>
                      <div class="form-group">
                        <input type="email"
                              class="form-control"
                              placeholder="Confirmer votre email"
                              ngModel
                              id="emailConfirmed"
                              name="emailConfirmed"
                              #emailConfirmed=ngModel
                              required/>
                    </div>
                      <div class="form-group">
                          <input type="text"
                                minlength="10"
                                maxlength="10"
                                name="txtEmpPhone"
                                class="form-control"
                                placeholder="Entrer votre téléphone"
                                ngModel
                                id="phoneNumber"
                                name="phoneNumber"
                                #phoneNumber=ngModel
                                required/>
                      </div>
                      <div class="form-group">
                          <select class="form-control"
                                  ngModel
                                  id="secret"
                                  name="secret"
                                  #secret=ngModel
                                  required
                                  >
                              <option class="hidden"  selected disabled>Entrer votre question sécrete</option>
                              <option>What is your Birthdate?</option>
                              <option>What is Your old Phone Number</option>
                              <option>What is your Pet Name?</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <input type="text"
                                  class="form-control"
                                  placeholder="Entrer votre réponse"
                                  ngModel
                                  id="response"
                                  name="response"
                                  #response=ngModel
                                  required />
                      </div>
                      <input type="submit" class="btnRegister" [disabled]="f.invalid"  value="authentification"/>
                  </div>
                </form>
              </div>
          </div>
          </mat-tab>
          <mat-tab label="Professional">
            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h3  class="authentification-heading">s'enregistrer en tant que Entreprise</h3>
                <div class="row authentification-form">
                  <form style="display: contents;" #f="ngForm" (ngSubmit)="onCompagniSubmit(f)">
                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text"
                                  class="form-control"
                                  placeholder="Entrer votre Nom"
                                  ngModel
                                  id="userName"
                                  name="userName"
                                  #userName=ngModel
                                  required  />
                        </div>
                        <div class="form-group">
                            <input type="email"
                                  class="form-control"
                                  placeholder="Entrer votre email"
                                  ngModel
                                  id="email"
                                  name="email"
                                  #email=ngModel
                                  required />
                        </div>
                        <div class="form-group">
                          <input type="email"
                                class="form-control"
                                placeholder="Confirmer votre email"
                                ngModel
                                id="emailConfirmed"
                                name="emailConfirmed"
                                #emailConfirmed=ngModel
                                required />
                      </div>
                        <div class="form-group">
                            <input type="text"
                                  maxlength="10"
                                  minlength="10"
                                  class="form-control"
                                  placeholder="Entrer un téléphone"
                                  ngModel
                                  id="phoneNumber"
                                  name="phoneNumber"
                                  #phoneNumber=ngModel
                                  required />
                        </div>


                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password"
                                  class="form-control"
                                  placeholder="Entrer un mot de passe"
                                  ngModel
                                  id="password"
                                  name="password"
                                  #password=ngModel
                                  required/>
                        </div>
                        <div class="form-group">
                            <input type="password"
                                  class="form-control"
                                  placeholder="Confirmer votre mot de passe"
                                  ngModel
                                  id="confirmPassword"
                                  name="confirmPassword"
                                  #confirmPassword=ngModel
                                  required />
                        </div>
                        <div class="form-group">
                            <select class="form-control"
                                    ngModel
                                    id="secret"
                                    name="secret"
                                    #secret=ngModel
                                    required>
                                <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                <option>What is your Birthdate?</option>
                                <option>What is Your old Phone Number</option>
                                <option>What is your Pet Name?</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text"
                                  class="form-control"
                                  placeholder="Entrer votre réponse"
                                  ngModel
                                    id="response"
                                    name="response"
                                    #response=ngModel
                                    required/>
                        </div>
                        <input type="submit" class="btnRegister" [disabled]="f.invalid" value="authentification"/>
                    </div>
                    </form>
                </div>
            </div>
          </mat-tab>
          </div>
        </mat-tab-group>
    </div>

  </div>



