.mat-expansion-panel {
  background: none;
  box-shadow: none;
}

.side-span
{
  display: flex;
  justify-content: center;
}

.menu-title{
  margin-left: 10px;
  font-size: 15px;
}

.menu-icon{
  margin-left: 10px;

}
