<mat-nav-list dense>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill navbar-search" name="search" placeholder="Search ...">
  </div>
  <mat-expansion-panel [class.mat-elevation-z0]="true" dense
                        (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">

    <mat-expansion-panel-header>
      <mat-panel-title class="menu-button" >
        <mat-icon>dashboard</mat-icon>
        <span class="menu-title"  (click)="gotoDashboard()">Dashboard</span>

      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list dense>
        <a mat-list-item routerLinkActive="active" [routerLink] = "['/sales']">Sales <span class="sr-only">(current)</span></a>
        <a mat-list-item [routerLink] = "['/orders']">Orders <span class="sr-only">(current)</span></a>
        <a mat-list-item [routerLink] = "['/health']">Health <span class="sr-only">(current)</span></a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-list-item [routerLink] = "['/maps']">
      <mat-icon class="menu-icon" > my_location</mat-icon>
      <span class="menu-title">Maps</span>
  </mat-list-item>
</mat-nav-list>


