
<div class="bg">

  <mat-toolbar>

    <button mat-icon-button *ngIf="sidenav.mode =='over'"
    (click) = "sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
    </button>

      <app-nav-bar class="spacer"></app-nav-bar>

  </mat-toolbar>

  <mat-sidenav-container >
    <mat-sidenav #sidenav="matSidenav" >

      <div class="sidebar-content">
        <div class="sidebar-profile">
          <div class="user-pic">
            <img class="img-responsive img-rounded" src="../assets/img/user.jpg" alt="User picture">
          </div>
          <div class="user-info">
            <span class="user-name">Sam
              <strong>FOKAM</strong>
            </span>
            <span class="user-role">Administrator</span>
            <span class="user-status">
              <i class="fa fa-circle"></i>
              <span>Online</span>
            </span>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>
        <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>

            <mat-panel-title class="menu-button" >
              <mat-icon>leaderboard</mat-icon>
                Dashboard
            </mat-panel-title>

          </mat-expansion-panel-header>
            <app-sidebar></app-sidebar>
          </mat-expansion-panel>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content ">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
