

  <div class="container">
  <div class="row">
    <div class="col-md-4 shadow">
      <h2>SF HOTEL</h2>
        <div class="footer-top-menu">
          <ul>
            <li>
              <i class="fa fa-home"></i>
              <span class="heading">Address</span>
              <span class="address"> 54 Avenue du Ray, 06100 Nice</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us: </span>
              <span class="email">
                <a href="mailto:sam.fokam@gmail.com">sam.fokam@gmail.com</a>
              </span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading"> Phone: </span>
              <span class="number">
                <a href="tel:+33634436437"> (+33)6 34 43 64 37 </a>
              </span>
            </li>
            <li>
              <a href="">
                <img src="../../assets/payment/logos_payment2.png" alt="Payment">
              </a>
            </li>
          </ul>
        </div>
    </div>

    <div class="col-md-3">
      <div class="footer-all-menu">
        <h2>Mon Compte</h2>
        <ul>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Information</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Order History</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">My Wishlist</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Site Map</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="footer-all-menu">
        <h2>Information</h2>
        <ul>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Cart</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Product Support</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">PC Setup & Support</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Services</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Extended Services Plans</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-2">
      <div class="footer-all-menu">
        <h2>Our Services</h2>
        <ul>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">About</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Shipping Guide</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Store Location</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Affiliates</a>
          </li>
          <li>
            <i class="fa fa-circle"></i>
            <a href="">Customer Point Policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

