
/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/cyborg/variables"; // we use cyborg theme from https://bootswatch.com/
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";
//@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import 'material-icons/iconfont/material-icons.css';

*
{
  box-sizing: border-box;
}

html, body{
  height: 100%;

}

body{
  font-family: $font-family-sans-serif ;
  height: 100%;
  background-color: $body-bg;
  color: $body-color;
  font-size: 15px;
}
//  body{
//    margin:0;
//    font-family: "Poppins",sans-serif;
//    font-size: 0.875rem;
//    font-weight: 400;
//    line-height: 1.5;
//    color: #525f7f;
//    text-align: left;
//    background-color: #1e1e2f;
//  }




.shadow{
  box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}

.section-container{
  //padding: 30px;
}

.card-theme{
  background-color: #191F26;
  border: none;
  border-radius: 2px;
}
.card-heading-theme{
  color:#eee;
  border-top-right-radius:8px ;
  border-top-left-radius: 8px;
  padding:  12px;

}
.card-header.card-header-theme {
  background-color: #161A1E !important;
}
.cards
{
  display: flex;
  flex-direction: column;
}


a{
  color: white;
}
