<section>
  <div class="container">
    <div class="title">
        <p>The Best booking of Hotel</p>
        <h1><span>Best</span> Booker</h1>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3 mb-1"  *ngFor="let item of hotels">
        <app-hotels [hotel]="item"></app-hotels>
      </div>
    </div>
  </div>
</section>

<section class="policy">
  <div class="containers text-center">

    <div class="row">
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">  <i class="fa fa-car"></i></div>
          </div>
          <h2>Free Booking &amp; Return</h2>
          <p>Free Booking on all UK order</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">  <i class="fa fa-refresh"></i></div>
          </div>
          <h2>Money Back Guarentee &amp; Return</h2>
          <p>30 days money back guarentee</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="policy-card">
          <div class="round">
            <div class="round-icon">  <i class="fa fa-phone"></i></div>
          </div>
          <h2>Online Support 24/24</h2>
          <p>We support online 24/24 on a day</p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="policy-product">

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 mb-1" *ngFor="let item of hotels">
        <app-hotel-details [hotel] = "item"></app-hotel-details>
      </div>

    </div>
  </div>

</section>

<section class="partners">
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><strong><img src="../../assets/patners/p1.png"></strong></ng-template>
      <ng-template carouselSlide><strong><img src="../../assets/patners/p2.png"></strong></ng-template>
      <ng-template carouselSlide><strong><img src="../../assets/patners/p3.png"></strong></ng-template>
      <ng-template carouselSlide><strong><img src="../../assets/patners/p4.png"></strong></ng-template>
      <ng-template carouselSlide><strong><img src="../../assets/patners/p5.png"></strong></ng-template>
    </owl-carousel-o>
  </div>

</section>
<app-footer></app-footer>


