.containers{
  width: 100%;

}
.partners{
  color: black;
}
.partners img{
  transition: all .3s ease;
}

.partners img:hover{
  box-shadow: 0 0 10px 1px #dbdbdb;
}

.title{
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 40px;

}
.title  h1{
  font-size: 44px;
 color: #131313;
 font-weight: 900;
 text-transform: uppercase;
}

.title p{

  color: #999;
  font-style: italic;
  font-weight: 700;
  margin: 0;
 }
 .title h1 span{
  color: #fe0;
 }

.title::before{
  content: '';
  width: 200px;
  height: 3px;
  background: #dbdbdb;
  opacity: .6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after{
  content: '\f005';
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #dbdbdb;
  width: 50px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: #eee;
  transform: translateX(-50%);
  font-size: 16px;
}








/***************Policy*********************************/
.policy{
  background:#555;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 230px;
  padding: 30px 0;
}
.round{
  padding: 23px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 34px;
  background: rgba(255, 255, 255,.2);
  transition: all .3s ease;
  margin: 0 auto;
  position: relative;
}
.round-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.policy-card h2{
  transition: all .3s ease;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 12px 0 5px;

}

.policy-card  p{
  color:  #dbdbdb;
  font-style: italic;
}

.policy-card:hover .round{
  background: #ff4000;
  cursor:pointer;
}

.policy-card:hover h2{
  color: #ff4000;
  cursor:pointer;
}



/**************** Footer*****************/

.footer-all-menu h2{
  color: #ff4000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

.footer-all-menu h2::before{
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background: #dbdbdb;
  opacity: .1;
  bottom: -19px;
  left: 0;
}




